{% if object.status == 1 %}

    <td class="status status-disconnected"> <img  style="width: 24px;" src="{{ asset('/img/cocher1.png') }}" /></td>
{% endif %}
{% if object.status  and object.status == 0 %}
    <td class="status status-connected"><img  href="" style="width: 24px;" src="{{ asset('/img/cocher2.png') }}" /></td>
{% endif %}
{% if object.status == null %}
    <td class="status status-connected"></td>
{% endif %}
