{#<!DOCTYPE html>#}
{#<html lang="he" dir="rtl">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <title>MoneyMindsetMastery.com - שאלון</title>#}
{#    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">#}
{#    <link rel="stylesheet" href="{{ asset('css/app.css') }}">#}
{#</head>#}
{#<body>#}
{#<header>#}
{#    <h1>MoneyMindsetMastery.com</h1>#}
{#</header>#}
{#<div class="container">#}
{#    <h2>שאלון</h2>#}
{#    <form action="" method="POST">#}
{#        @csrf#}
{#        <ol>#}
{#            <!-- הוסף כאן את שאלות השאלון ואפשרויות התשובה -->#}
{#        </ol>#}
{#        <button type="submit" class="button">שלח</button>#}
{#    </form>#}
{#    <div class="cta-section">#}
{#        <h2>מוכן לקחת את המסע הפיננסי שלך לשלב הבא?</h2>#}
{#        <p>מזל טוב על השלמת השאלון! אתה צעד אחד קרוב יותר לפתיחת הפוטנציאל האמיתי שלך להרוויח ולהשיג חופש פיננסי.</p>#}
{#        <p>הצטרף לקהילת הווטסאפ הבלעדית שלנו עוד היום וקבל גישה ל:</p>#}
{#        <ul>#}
{#            <li>הדרכה אישית מיזמים מצליחים ומומחים פיננסיים</li>#}
{#            <li>טיפים ואסטרטגיות של מקורבים שיעזרו לך להתחיל להרוויח כסף באינטרנט</li>#}
{#            <li>רשת תומכת של אנשים בעלי מחשבה דומה כדי לשמור אותך מונע ואחראי</li>#}
{#        </ul>#}
{#        <p>אל תחמיץ הזדמנות זו לשנות את עתידך הפיננסי. לחץ על הכפתור למטה כדי להצטרף לקהילת הווטסאפ שלנו עכשיו!</p>#}
{#        <a href="https://wa.me/your_whatsapp_number" class="button" target="_blank">הצטרף לקהילת הווטסאפ שלנו</a>#}
{#    </div>#}
{#</div>#}
{#</body>#}
{#</html>#}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoneyMindsetMastery.com - Your Path to Financial Freedom</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
            line-height: 1.6;
            color: #333333;
            background-color: #F5F5F5;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: #1E88E5;
            padding: 20px;
            text-align: center;
            color: #FFFFFF;
        }
        h1 {
            font-family: 'Montserrat', sans-serif;
            font-size: 3rem;
            font-weight: 800;
            margin: 0;
        }
        h2 {
            font-family: 'Montserrat', sans-serif;
            font-size: 1.5rem;
            font-weight: 600;
            color: #1E88E5;
        }
        .container {
            max-width: 960px;
            margin: 0 auto;
            padding: 20px;
        }
        .button {
            display: inline-block;
            background-color: #FFC107;
            color: #212121;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.125rem;
            font-weight: 700;
            padding: 12px 24px;
            text-decoration: none;
            border-radius: 4px;
            margin-top: 20px;
        }
        .testimonial {
            font-style: italic;
            margin-top: 20px;
            padding: 10px;
            background-color: #FFFFFF;
            border-radius: 4px;
        }
    </style>
</head>
<body>
<header>
    <h1>MoneyMindsetMastery.com</h1>
</header>
<div class="container">

        <div class="cta-section">
            <h2>מוכן לקחת את המסע הפיננסי שלך לשלב הבא?</h2>
            <p>מזל טוב על השלמת השאלון! אתה צעד אחד קרוב יותר לפתיחת הפוטנציאל האמיתי שלך להרוויח ולהשיג חופש פיננסי.</p>
            <p>הצטרף לקהילת הווטסאפ הבלעדית שלנו עוד היום וקבל גישה ל:</p>
            <ul>
                <li>הדרכה אישית מיזמים מצליחים ומומחים פיננסיים</li>
                <li>טיפים ואסטרטגיות של מקורבים שיעזרו לך להתחיל להרוויח כסף באינטרנט</li>
                <li>רשת תומכת של אנשים בעלי מחשבה דומה כדי לשמור אותך מונע ואחראי</li>
            </ul>
            <p>אל תחמיץ הזדמנות זו לשנות את עתידך הפיננסי. לחץ על הכפתור למטה כדי להצטרף לקהילת הווטסאפ שלנו עכשיו!</p>
            <a href="https://wa.me/your_whatsapp_number" class="button" target="_blank">הצטרף לקהילת הווטסאפ שלנו</a>
        </div>
</div>
</body>
</html>