<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoneyMindsetMastery.com - Your Path to Financial Freedom</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
            line-height: 1.6;
            color: #333333;
            background-color: #F5F5F5;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: #1E88E5;
            padding: 20px;
            text-align: center;
            color: #FFFFFF;
        }
        h1 {
            font-family: 'Montserrat', sans-serif;
            font-size: 3rem;
            font-weight: 800;
            margin: 0;
        }
        h2 {
            font-family: 'Montserrat', sans-serif;
            font-size: 1.5rem;
            font-weight: 600;
            color: #1E88E5;
        }
        .container {
            max-width: 960px;
            margin: 0 auto;
            padding: 20px;
        }
        .button {
            display: inline-block;
            background-color: #FFC107;
            color: #212121;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.125rem;
            font-weight: 700;
            padding: 12px 24px;
            text-decoration: none;
            border-radius: 4px;
            margin-top: 20px;
        }
        .testimonial {
            font-style: italic;
            margin-top: 20px;
            padding: 10px;
            background-color: #FFFFFF;
            border-radius: 4px;
        }
    </style>
</head>
<body>
<header>
    <h1>MoneyMindsetMastery.com</h1>
</header>
<div class="container">

    <div class="cta-section">
        <h2>Ready to Take Your Financial Journey to the Next Level?</h2>
        <p>Congratulations on completing the questionnaire! You're one step closer to unlocking your true earning potential and achieving financial freedom.</p>
        <p>Join our exclusive WhatsApp community today and gain access to:</p>
        <ul>
            <li>Personalized guidance from successful entrepreneurs and financial experts</li>
            <li>Insider tips and strategies to help you start earning money online</li>
            <li>A supportive network of like-minded individuals to keep you motivated and accountable</li>
        </ul>
        <p>Don't miss this opportunity to transform your financial future. Click the button below to join our WhatsApp community now!</p>
        <a href="https://wa.me/your_whatsapp_number" class="button" target="_blank">Join Our WhatsApp Community</a>
    </div>
</div>
</body>
</html>