{% extends 'base.html.twig' %}
{% block content %}
    <div class="container">

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-8" style="background-color: #ffffff;border-radius: 18px;padding: 24px;">
                <h2>CSV Import</h2>
                <form action="{{ path('app_upload_process') }}" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="csv_files" class="form-label">Select CSV files:</label>
                        <input type="file" class="form-control" id="csv_files" name="csv_files" accept=".xlsx">
                    </div>
                    <div class="mb-3">
                        <label for="csv_category" class="form-label">Select Quiz :</label>
                        <select class="form-select" id="csv_category" name="csv_category">
                            {% for q in quiz %}
                                <option value="{{ q.id }}">{{ q.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="csv_image" class="form-label">Select Theme :</label>
                        <div id="csv_image" class="form-check">
                            {% for img in images %}
                                <div class="form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="image_{{ loop.index }}" name="csv_images" value="{{ img }}" onchange="toggleImageSelection(this)">
                                    <label class="form-check-label" for="image_{{ loop.index }}">
                                        <img src="{{ asset('img/' ~ img ) }}" alt="Image {{ loop.index }}" id="img_{{ loop.index }}" style="width: 100px; height: auto;">
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Import</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        function toggleImageSelection(selectedCheckbox) {
            const checkboxes = document.querySelectorAll('input[name="csv_images"]');
            checkboxes.forEach(checkbox => {
                if (checkbox !== selectedCheckbox) {
                    checkbox.checked = false;
                }
            });
        }
    </script>
{% endblock %}
