<html lang="en">
<head>
    <meta charset="utf-8">

    <meta
            name="viewport"
            content="width=device-width, initial-scale=1"
    />

    <meta name="csrf-token" content="T3OFJKGfstCoK9biwC810Iwczbpyha24uuWTKhxq">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Freeman&family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link
            {% if header.image is defined %}
            type="image/png"
            href="/images/headers/{{ header.image }}"
            rel="icon"
            sizes="128x128"
    >
    {% endif %}
    {% if header.image is defined %}
    <link
            type="image/png"
            href="/images/headers/{{ header.image }}"
            rel="icon"
            sizes="64x64"
    >
    {% endif %}
    {% if header.image is defined %}
    <link
            type="image/png"

            href="/images/headers/{{ header.image }}"
            rel="icon"
            sizes="32x32"
    >
    {% endif %}
    {% if header.heading is defined %}
    <title>{{ header.heading }}</title>
    {% endif %}


    <link rel="preload" as="style" href="https://health.thinkfinder.net/build/assets/app-mziTn5Qe.css" /><link rel="modulepreload" href="https://health.thinkfinder.net/build/assets/app-DkDdL2UM.js" /><link rel="stylesheet" href="https://health.thinkfinder.net/build/assets/app-mziTn5Qe.css" data-navigate-track="reload" /><script type="module" src="https://health.thinkfinder.net/build/assets/app-DkDdL2UM.js" data-navigate-track="reload"></script>

</head>

<body>
<header class="bg-white">
    <div class="flex justify-center items-center container h-32">
        <div class="flex items-center flex-row desktop:space-x-6 tablet:space-x-4 mobile:space-x-3">
            {% if header.image is defined %}
            <img
                    class="w-16 h-16 mobile:w-12 mobile:h-12"
                    src="/images/headers/{{ header.image }}"
                    alt="image"
            >
            {% endif %}

            <div class="flex flex-col space-y-1">
                {% if header.Heading is defined %}
                <h1 class="desktop:text-2xl text-base font-bold text-neutral-700">
                    {{ header.Heading }}
                </h1>
                {% endif %}
                {% if header.description is defined %}
                <p class="desktop:text-base mobile:text-sm font-medium text-neutral-400">
                    {{header.description }}
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</header>

<main class="flex justify-center items-start container min-h-[calc(100vh-128px)]">
    <div class="flex-grow desktop:my-10 tablet:my-8 mobile:my-6">
        <div class="flex flex-col space-y-10">
            <div id="div-gpt-ad-C1-1" class="flex justify-center"></div>


            <div
                    class="bg-white rounded-lg p-8 flex flex-col justify-center items-center space-y-8 desktop:space-y-0 desktop:flex-row desktop:space-x-8"
            >
                <div class="flex justify-center items-center desktop:w-1/2">
                    {% if header.image is defined %}
                    <img
                            class="mobile:w-40 desktop:h-80"
                            src="/images/headers/{{ header.image }}"
                            alt="image"
                    >
                    {% endif %}
                </div>

                <div class="flex flex-col space-y-8 desktop:w-1/2">
                    <div class="flex flex-col space-y-4">
                        {% if header.Heading is defined %}
                        <h3 class="text-3xl font-semibold text-neutral-700">{{ header.Heading }}</h3>
                        {% endif %}
                        {% if header.description is defined %}
                        <p class="text-xl font-medium text-neutral-400">{{ header.description }}</p>
                        {% endif %}
                    </div>

                    <a href="/{{ name }}/{{ firstQuestion }}">
                        <button
                                class="bg-indigo-600 text-white font-medium hover:bg-indigo-700 justify-center px-10 py-4 text-base flex items-center rounded-md transition duration-150 ease-in-out w-full bg-gradient-to-r from-yellow-600 via-purple-500 to-yellow-600 animate-gradient-x"
                        >
                            Start
                        </button>
                    </a>
                </div>
            </div>

            <div id="div-gpt-ad-C1-2" class="flex justify-center"></div>

        </div>
    </div>
</main>

<footer class="bg-white mb-28">
    <div class="container">
        <div class="flex desktop:flex-row tablet:flex-row desktop:space-y-0 tablet:space-y-0 space-y-6 flex-col items-center justify-between py-8">
            <p class="text-neutral-400 font-medium">
                © 2024 health.thinkfinder.net
            </p>

            <ul class="flex desktop:flex-row tablet:flex-row flex-col desktop:space-x-4 tablet:space-x-4 desktop:space-y-0 tablet:space-y-0 space-y-4">
                <li>
                    <a href="https://health.thinkfinder.net/terms-and-conditions" target="_blank">
                        <button
                                class="bg-neutral-100 text-neutral-500 font-medium hover:bg-neutral-200 justify-center px-6 py-4 text-sm flex items-center rounded-md transition duration-150 ease-in-out min-w-48"
                        >
                            Terms and Conditions
                        </button>
                    </a>
                </li>

                <li>
                    <a href="https://health.thinkfinder.net/privacy-policy" target="_blank">
                        <button
                                class="bg-neutral-100 text-neutral-500 font-medium hover:bg-neutral-200 justify-center px-6 py-4 text-sm flex items-center rounded-md transition duration-150 ease-in-out min-w-48"
                        >
                            Privacy Policy
                        </button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>

<div id="div-gpt-ad-footerJS" class="flex justify-center flex justify-center w-full fixed z-50 bottom-0"></div>



<script>
    async function fetchUtms() {
        try {
            const response = await fetch('http://localhost:8000/api/fraud');
            const data = await response.json();
            return data.frauds.map(fraud => fraud.word);
        } catch (error) {
            console.error('Error fetching UTMs:', error);
            return [];
        }
    }

    async function isUtms() {
        const utms = await fetchUtms();
        const url = new URL(window.location.href);

        const params = new URLSearchParams(url.search);

        const utm = params.get('utm_source');

        return utms.includes(utm);
    }

    function loadGptScript() {
        var script = document.createElement('script');

        script.async = true;

        script.src = "https://securepubads.g.doubleclick.net/tag/js/gpt.js";

        document.head.appendChild(script);

        console.log('ad loaded');
    }

    function fraudCheck(callback) {
        window.kmnr = {
            kmnrKey: '376749059',
            sub1: location.hostname,
            sub2: '',
            sub3: '',
        };

        var kmnrSc = document.createElement('script');
        var kmnrPrnt = document.getElementsByTagName('head')[0] || document.body;
        kmnrSc.setAttribute('async', true);
        kmnrSc.setAttribute('charset', 'utf-8');
        kmnrSc.src = '//kaminari.systems/v1/script.js?kmnrKey=' + window.kmnr.kmnrKey;
        kmnrPrnt && kmnrPrnt.appendChild(kmnrSc);

        setTimeout(callback, 1500);
    }

    if (isUtms()) {
        fraudCheck(loadGptScript);
    } else {
        loadGptScript();
    }
</script>
</body>
</html>
