{# templates/sonata/Crud/list_custom_quiz.html.twig #}
{% extends base_template %}

{% block content %}
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">
{#            {{ object.name }}#}
            </h3>
        </div>

        <div class="box-body">
            <p><strong>URL:</strong> {{ object.url }}</p>
            <p><strong>Revenue:</strong> {{ object.revenu }}$</p>
            <p><strong>Views:</strong> {{ object.views }}</p>
            <p><strong>Clicks:</strong> {{ object.clicks }}</p>

            <h2>Questions</h2>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Question</th>
                    <th>URL</th>
                    <th>Rank</th>
                </tr>
                </thead>
                <tbody>
                {% for questions in object.question %}
                    <tr onclick="location.href='{{ path('admin_app_questions_edit', { 'id': questions.id }) }}'">
                        <td>{{ questions.id }}</td>
                        <td>{{ questions.question }}</td>
                        <td>{{ object.url }}/{{ questions.id }}</td>
                        <td>{{ questions.rank }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">No questions found for this quiz.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
