<head>

</head>
<div class="card">
    <div class="card-body ms-4 mt-4 mb-4">
        <h4 style=" font-weight: 600;color: #012C50;opacity: 1;" class="card-title">Statistics </h4>

        <canvas id="myChart"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var quizname = [];
        var views = [];

        {% for quizs in quiz %}
        quizname.push("{{ quizs.name }}");
        views.push("{{ quizs.views }}");
        {% endfor %}
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: quizname,
                datasets: [{
                    label: 'Views',
                    data: views,
                    backgroundColor: '#80ed99 ',
                    borderColor: '#80ed99',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>


</div>
